body{
    background-image: url(https://appsmaventech.com/assets/images/blog/the-future-of-web-development.png);
}

.topcontainer{
   
    height:60%;
    width:100%
}

h1{
    color: goldenrod;
    padding-bottom: 20px;
    text-align: center;
    width:100%;
    height:10px;
    display:inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
h3{
    color: powderblue;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height:20px;
    width: 100%;
    display:inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image1{
    position:relative;
    width:20%;
    height:40%;
    margin-top: 10px;
    margin-left: 39px;
    padding-top: 20px;
    display:inline-block;
}

hr{
    color:palevioletred;
    margin-bottom: 3px;
    margin-top: 3px;
}
.middlecontainer{
    
    width:100%;
    height:325px;

}
.image2{
        display: inline-block;
        position: relative;
        width: 190px;
        height: 230px;
        margin-left: 600px;
        
        
       
}      

/* .hello{
    margin-left: 0px;
    padding-left: 50px;
    height: 20px;
    width: 60px;
    display: inline-block;
   
} */

span{
   color:goldenrod;
   font-size: large;
   font-weight: 600;
   text-decoration:underline;
}

p{
    color: powderblue;
    text-align: center;
    font-weight: 400;
    font-size: larger;
}

.imglink{
    width: 30px;
    height: 20px;

}

a{
    color:goldenrod;
    font-size: larger;
}













